@import "tailwindcss";

:root {
  /* The Creative Glitch Palette */
  --bg-main: #111111;
  /* Matte Black */
  --foreground: #ededed;
  /* Off-white Body Text */

  --accent-primary: #8B5CF6;
  /* Neon Purple (Links, Focus, Icons) */
  --accent-cta: #A3E635;
  /* Acid Green (Buttons, Actions) */

  /* Semantic Mappings */
  --card-bg: #1A1A1A;
  --border: #333333;
}

@theme inline {
  --color-background: var(--bg-main);
  --color-foreground: var(--foreground);

  /* Tailwind Colors */
  --color-primary: var(--accent-primary);
  /* Purple */
  --color-cta: var(--accent-cta);
  /* Green */
  --color-card: var(--card-bg);
  --color-border: var(--border);

  --font-serif: var(--font-playfair);
  --font-sans: var(--font-inter);
}


html,
body {
  background-color: var(--bg-main);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-playfair), serif;
}